@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Patient Portal</h1>
    <p>Your patient data is totally safe here as long as you don't look too hard.</p>
</div>
